@import "../variables.scss";

.ClinicPromo {
	background: $background-light;
	.header {
		h1 {
			font-weight: 600;
			font-size: 2.25em;
			color: $heading-black;
		}
		span {
			font-weight: 400;
			font-size: 1em;
			color: #000000;
		}
		h2 {
			font-weight: 700;
			font-size: 1.5em;
			color: $heading-black;
		}
		.title {
			width: 100%;
			@media(min-width: 576px) {
				width: auto;
			}
		}
		.add-btn {
			font-weight: 400;
			font-size: 1em;
			color: #FFFFFF;
			padding: .75em 1.5em;
			background: #6D71F9;
			border-radius: 50px;
			&:hover {
				opacity: .75
			}
		}
		.back-button {
			color: $text-brandcolor;
		background: $button-light-background;
		padding: .8em 1.5em;
		border-radius: 999px;
		
		}
	}
	.promo {
		box-shadow: 0px 20px 50px rgba(39,40,72,.03);
		background: $background-white;
		border-radius: 10px;
		h3 {
			color: $heading-black;
			font-size: 1.5em;
			font-weight: 500;
			padding-bottom: .5em;
		}
		p {
			white-space: pre-wrap;
			font-style: normal;
			font-weight: 300;
			font-size: 1em;
			line-height: 169%;
			color: $text-black;
		}
		span {
			font-weight: 400;
			font-size: 1em;
			color: $inscription-color;
			&.type {
				font-weight: 500;
				font-size: 1.125em;
				color: #000000;
			}
		}
		.data {
			border: 1px solid rgba(155, 155, 171, 0.25);
			border-radius: 5px;
			span {
				font-weight: 400;
				font-size: 1em;
				color: $text-black;
			}
		}
		.edit-btn {
			color: $text-brandcolor;
			background: $button-light-background;
			padding: .75em 1.5em;
			border-radius: 999px;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			&:hover {
				opacity: .75;
			}
		}
		.delete-btn {
			flex-shrink: 0;
			border-radius: 999px;
			background: $button-light-background;
			&:hover {
				opacity: .75;
			}
			img {
				padding: 1em;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.no-info {
		span {
			color: $inscription-color;
		}
	}
	.applications {
		box-shadow: 0px 20px 50px rgba(39,40,72,.03);
		background: $background-white;
		border-radius: 10px;
		.applications__holder {
			
		}
		
		.applications-item {
			&.border-true {
				border-bottom: 1px solid rgba(155, 155, 171, 0.25);
			}
			span {
				font-weight: 300;
				font-size: 1em;
				color: $inscription-color;
				&.title {
					font-weight: 400;
				}
			}
			.item-content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-areas: ". button" ". ." ". .";
				gap: 0px 0px;

				@media(min-width: 576px) {
					grid-template-columns: 1fr 1fr 1fr; 
					grid-template-rows: 1fr 1fr;
					grid-template-areas: ". button button" ". . .";
				} 
				@media(min-width: 992px) {
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
					grid-template-rows: 1fr;
					grid-template-areas: ". . . . . button";
				} 
				h3 {
					font-weight: 500;
					font-size: 1.125em;
					color: $heading-black;
				}
				.invite-btns {
					grid-area: button;
				}
				.invite-btn {
					color: $text-brandcolor;
					background: $button-light-background;
					padding: .75em 1.5em;
					border-radius: 999px;
					text-align: center;
					&:hover {
						opacity: .75;
					}
				}
				.invited {
					font-weight: 700;
					font-size: 1em;
					color: #5BE07A;
					background: #DFF8E5;
					border-radius: 10px;
					padding: .75em 1.5em;
					text-align: center;
				}
			}
		}
	}
}

.DeleteCheckup-modal {
	p {
		color: $inscription-color;
	}
}
.SendInvite-modal {
	p {
		color: $inscription-color;
	}
}