@import "../variables.scss";

.LkFarmEdit {
	background: $background-light;
	&__avatar {
		width: 11em;
		height: 11em;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		label.upload-icon {
			position: absolute;
			bottom: 1em;
			right: 1em;
			background: #E6E7FC;
			border-radius: 5px;
			height: 3em;
			width: 3em;
			cursor: pointer;
			input {
				display: none;
			}
			img {
				height: 1.5em;
				width: 1.5em;
			}
		}
		img.avatar-photo {
			width: 100%;
			height: 100%;
			object-fit: cover;
   			object-position: center center;
		}
		div.avatar-photo {
			background: $background-white;
			width: 100%;
			height: 100%;
		}
	}
	&__name {
		font-weight: bold;
		font-size: 3em;
	}
	.cancel-button {
		color: $text-brandcolor;
		background: $button-light-background;
		padding: .8em 1.5em;
		border-radius: 999px;
	}
	.edit-profile {
		background: $background-white;
		border-radius: 10px;
		&__heading {
			font-weight: 700;
			font-size: 1.4em;
		}
	}
}