@import "../variables.scss";

.Politics {
	background: $background-light;
	&__container {
		background: $background-white;
		h1 {
			font-size: 1.5em;
			font-weight: 700;
		}
		p {

		}
		ul li {
			list-style-position: inside;
		}
	}
}